{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["eslint-plugin-unused-imports"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "react/react-in-jsx-scope": "warn",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/explicit-module-boundary-types": "warn",
    "react/jsx-uses-react": "warn",
    "react/jsx-uses-vars": "warn",
    "react/no-children-prop": "warn",
    "react/jsx-key": "warn",
    "@typescript-eslint/ban-types": "warn",
    "unused-imports/no-unused-imports": "warn",
    "@typescript-eslint/no-empty-function":"warn",
    "no-unsafe-optional-chaining":"warn",
    "@typescript-eslint/ban-ts-comment":"warn",
    "no-useless-escape":"warn"
    
  }
}
